{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="icon" href ="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/feed.css' %}">
    <script src="{% static 'js/usuario/menu.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo-h">
          <a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/logo-h.png' %}" alt="Logo Habitus"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
          <img id="menu-icon" src="{% static 'icones-site/menu-lateral.png' %}" alt="Abrir Menu">
        </div>
    </header>
      
      <!-- Menu lateral -->
      <nav id="menu-lateral" class="menu-lateral">
        <div class="fechar">
            <h1>Menu</h1>
            <button class="fechar-menu" onclick="toggleMenu()">✕</button>
        </div>
        <ul>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="Abrir Ultimas Noticias">Últimas notícias</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/historico.png' %}" alt="Abrir Histórico">Histórico</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/unidade.png' %}" alt="Abrir Minhas Unidade">Minha unidade</a></li>
            </div>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/reportar.png' %}" alt="Abrir Reportar Erro">Reportar erro</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="Abrir Configurações">Configurações</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/avaliar.png' %}" alt="Abrir Avaliar">Avaliar</a></li>
            </div>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="Abrir Desenvolvedores">Desenvolvedores</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="Abrir Sobre o Habitus">Sobre o Habitus</a></li>
            </div>
        </ul>
      </nav>
    <main>
    <section class="nome-pagina">
        <h1>Feed</h1>
    </section>
    <section class="container">
        <h2>Bem-vindo, Professor!</h2>
        <div>
            <h1>Treino do dia</h1>
            <div class="treino-dia">
                <img src="{% static 'imagens-exercicios/supino-reto.png' %}" alt="Iniciar Treino">
                <div>
                    <h2>Treino de Peito e Tríceps</h2>
                    <a href="#">Detalhes</a>
                </div>
            </div>

        </div>
    </section>
    <a class="iniciar-treino" href="#">
        <img src="{% static 'icones-site/iniciar-icon.png' %}" alt="Iniciar Treino">
        <h2>Iniciar</h2>
    </a>
    <menu>
        <div>
            <a href="{% url 'feed_professor' %}">
                <img src="{% static 'icones-site/feed-icon-verde.png' %}" alt="Logo feed_professor">
                <h3>feed</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'treinos_professor' %}">
                <img src="{% static 'icones-site/treino-icon-preta.png' %}" alt="icone treino">
                <h3>Treinos</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'perfil_professor' %}">
                <img src="{% static 'icones-site/perfil-icon-preta.png' %}" alt="Logo perfil">
                <h3>Perfil</h3>
            </a>
        </div>
    </main>
    
    </menu>
</body>
</html>
