{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinos</title>
    <link rel="icon" href ="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/treinos.css' %}">
    <script src="{% static 'js/usuario/menu.js' %}"></script>
</head>
<body>
    <header>
        <div class="logo-h">
          <a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/logo-h.png' %}" alt="Logo Habitus"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
          <img id="menu-icon" src="{% static 'icones-site/menu-lateral.png' %}" alt="Abrir Menu">
        </div>
    </header>
      
      <!-- Menu lateral -->
      <nav id="menu-lateral" class="menu-lateral">
        <div class="fechar">
            <h1>Menu</h1>
            <button class="fechar-menu" onclick="toggleMenu()">✕</button>
        </div>
        <ul>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="Abrir Ultimas Noticias">Últimas notícias</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/historico.png' %}" alt="Abrir Histórico">Histórico</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/unidade.png' %}" alt="Abrir Minhas Unidade">Minha unidade</a></li>
            </div>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/reportar.png' %}" alt="Abrir Reportar Erro">Reportar erro</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="Abrir Configurações">Configurações</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/avaliar.png' %}" alt="Abrir Avaliar">Avaliar</a></li>
            </div>
            <div>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="Abrir Desenvolvedores">Desenvolvedores</a></li>
                <li><a href="{% url 'feed_professor' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="Abrir Sobre o Habitus">Sobre o Habitus</a></li>
            </div>
        </ul>
      </nav>
      
    <main>
    <section class="nome-pagina">
        <h1>Treinos</h1>
    </section>
    <section class="container">
        <div class="treino-dia">
            <div>
                <img src="{% static 'imagens-exercicios/supino-reto.png' %}" alt="Iniciar Treino">
            </div>
            <div>
                <h2>Treino de Peito e Tríceps</h2>
                <p>10 Exercicios</p>
                <a href="#">Detalhes</a>
            </div>
            <span>
                <a href="#"><img src="{% static 'icones-site/bolinhas.png' %}" alt="Iniciar Treino"></a>
                <a href="#"><img src="{% static 'icones-site/play-treino.png' %}" alt="Iniciar Treino"></a>
            </span>
        </div>
        <div class="treino-dia">
            <div>
                <img src="{% static 'imagens-exercicios/supino-reto.png' %}" alt="Iniciar Treino">
            </div>
            <div>
                <h2>Treino de Peito e Tríceps</h2>
                <p>10 Exercicios</p>
                <a href="#">Detalhes</a>
            </div>
            <span>
                <a href="#"><img src="{% static 'icones-site/bolinhas.png' %}" alt="Iniciar Treino"></a>
                <a href="#"><img src="{% static 'icones-site/play-treino.png' %}" alt="Iniciar Treino"></a>
            </span>
        </div>
        <div class="treino-dia">
            <div>
                <img src="{% static 'imagens-exercicios/supino-reto.png' %}" alt="Iniciar Treino">
            </div>
            <div>
                <h2>Treino de Peito e Tríceps</h2>
                <p>10 Exercicios</p>
                <a href="#">Detalhes</a>
            </div>
            <span>
                <a href="#"><img src="{% static 'icones-site/bolinhas.png' %}" alt="Iniciar Treino"></a>
                <a href="#"><img src="{% static 'icones-site/play-treino.png' %}" alt="Iniciar Treino"></a>
            </span>
        </div>
        <a class="novo_treino" href="{% url 'feed_professor' %}">Adicionar novo treino</a>
    </section>
</main>
    <menu>
        <div>
            <a href="{% url 'feed_professor' %}">
                <img src="{% static 'icones-site/feed-icon-preta.png' %}" alt="Logo feed_professor">
                <h3>feed</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'treinos_professor' %}">
                <img src="{% static 'icones-site/treino-icon-verde.png' %}" alt="icone treino">
                <h3>Treinos</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'perfil_professor' %}">
                <img src="{% static 'icones-site/perfil-icon-preta.png' %}" alt="Logo perfil">
                <h3>Perfil</h3>
            </a>
        </div>
    </menu>
</body>
</html>
