
.alert {
    margin-bottom: 10px;
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
    
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    text-align: center;
    position: fixed;
    z-index: 999;
    top: 110px;
    right: 0;
    bottom: 0;
}
.alert-danger {
    background-color: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    text-align: center;
    position: fixed;
    z-index: 999;
    }
.alert-success {
    background-color: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    text-align: center;
    position: fixed;
    z-index: 999;
}
.alert-warning {
    background-color: #fff3cd;
    color: #664d03;
    border: 1px solid #ffecb5;
}
.alert-info {
    background-color: #cff4fc;
    color: #055160;
    border: 1px solid #b6effb;
}
 /* quando esconder */
 .alert.hide {
     opacity: 0;
     transform: translateY(-20px);
 }