
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin:0 auto;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    margin-top: 109px;
    background-color: #070A22;
}

header {
    background-color: #070A22;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
}
.logo-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
.menu-icon {
    position: absolute;
    right: 20px;
  }
header img{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

section.nome-pagina {
    background-color: #C5F022;
    text-align: center;
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
h3{
    font-size: 10px;
    color: #FFF;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}
h1{
    font-size: 20px;
    margin:0;
}
main{
    padding-bottom: 100px;
}
.treino-dia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    border-radius: 10px;
    background: #1E1C37;
    flex-shrink: 0;
    height: 103px;
    margin-bottom: 13px;
}
.container{
    margin-top: 2em;
}
.treino-dia h2{
    color: #FFF;
    font-size: 13px;
}
.treino-dia p{
    color: #FFF;
    font-size: 11px;
    margin-bottom: 13px;
}
.treino-dia div a{
    color: white;
    text-decoration: none;
    color: #3B3E52;
    font-size: 10px;
    border-radius: 10px;
    background: #FFF;
    width: 84.751px;
    flex-shrink: 0;
    height: 20px;
    padding: 4px 12px 4px 12px;
}
.treino-dia div img{
    width: 84.751px;
    flex-shrink: 0;
    height: 85px;
    display: block;
}
.treino-dia span a:nth-of-type(2) img {
    width: 38.517px;
    flex-shrink: 0;
    height: 38.517px;
}
.treino-dia span a:nth-of-type(1) img {
    width: 21px;
    flex-shrink: 0;
    height: 6px;
    margin: 0;
}
.treino-dia span a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
}

.treino-dia h1{
    font-size: 30px;
    color: white;
}
menu{
    /*position: relative;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B3E52;
    padding: 1em;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
menu img{
    margin-bottom: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
menu div a {
    color:white ;
    text-decoration: none;
    display: grid;
    align-items: center;
}
.menu-lateral {
    position: fixed;
    top: 0;
    right: -500%;
    width: 50%;
    height: 100vh;
    background-color: #3B3E52;
    transition: right 0.3s ease;
    z-index: 999;
    padding: 2em;
    color: white;
}
.fechar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 5em;

}
.menu-lateral ul>div{
    display: block;
    justify-content: start;
    padding-bottom: 24px;
    margin-bottom: 3em;
}
ul > div:nth-of-type(-n+2) {
  border-bottom: 1px solid #D9D9D9;
}

.menu-lateral li a{
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    font-size: 15px;

}
.menu-lateral img{
    width: 26px;
}
.menu-lateral.ativo {
    right: 0;
}

.menu-lateral .fechar-menu {
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    /*position: absolute;*/
    right: 1em;
    cursor: pointer;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 4em;
}

.menu-lateral li {
    margin-bottom: 24px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.novo_treino {
    margin-top: 73px;
    height: 40px;
    flex-shrink: 0;
    width: 340px;
    border-radius: 50px;
    background: #C5F022;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #070A22;
    font-size: 15px;
    font-weight: bold;
}
.novo_treino img {
    width: 26.833px;
    flex-shrink: 0;
    aspect-ratio: 26.83 / 26.83;
    height: 26.833px;
    margin: 0 0px 0px 8px;
}

.seta-voltar {
    margin-left: 0;
}