services:
  - type: web
    name: habitusapp
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn devadmin.wsgi:application"
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: ".onrender.com,localhost,127.0.0.1"
      - key: CSRF_TRUSTED_ORIGINS
        value: "https://*.onrender.com"
      # Adicione estas para ambiente Render:
      - key: RENDER
        value: "true"
      - key: DJANGO_SETTINGS_MODULE
        value: "devadmin.settings"

databases:
  - name: habitus-db
    databaseName: habitus_db
    user: habitus_user
    plan: free