
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin:0 auto;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    background-color: #070A22;
}
.login-header{
    background-color: #4E5A6E;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-shrink: 0;
    height: 235px;
}
  
.menu-icon {
    position: absolute;
    right: 20px;
}
.login-header img{
    cursor: pointer;
    width: 232.466px;
    height: 64px;
    flex-shrink: 0;
    cursor: pointer;
}

h1{
    text-align: left;
    color: #C5F022;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}
h2{
    font-size: 15px;
    font-weight: 500;
    color:white;
    margin-bottom: 15px;
}
form{
    width: 100%;
    max-width: 335px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    background: #3B3E52;
    border-radius: 5px;
    padding: 0 0 0 5px;
    width: 100%;
    flex-shrink: 0;
    height: 40px;
    border: none;
    color: white;
    font-size: 10px;
}
input[type = "date"]{
    padding-right: 5px;
    width: 150px;
}
form label{
    color: white;
    margin-left: 0px;
    font-weight: 500;
    font-size: 14px;
}
a.recuperar-senha{
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 0;
    text-decoration: none;
}
button.btn-principal {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C5F022;
    font-size: 23px;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}
.btn-principal:hover{
    background-color: #c8ff00;
    transition: 2s;

}
a.btn-secundario{
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #4E5A6E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-secundario:hover{
    background-color: #2a3241;
    transition: 2s;

}
.botoes{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-top: 20px;
}

form div button{
    width: 165px;
    flex-shrink: 0;
    height: 40px;
    background-color: #C5F022;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;

}
form div a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    flex-shrink: 0;
    height: 40px;
    background-color: #4E5A6E;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
}

#preview-foto {
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
    width: 150px;
}
form label.input_foto {
    text-align: center;
    margin: 0;
}
.usuario-data{
    display: flex;
}
input#id_username {
    width: 165px;
    margin-right: 10px;
}
.cpf-telefone{
    display: flex;
}
input#id_cpf {
    width: 165px;
    margin-right: 10px;
}
form input::placeholder{
    color: #8E9EB8;
}

button#remover-foto-btn{
    background-color: #4E5A6E;
    width: 165px;
    flex-shrink: 0;
    border-radius: 100px;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}