
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin:0 auto;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    background-color: #070A22;
}
.login-header{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-shrink: 0;
    margin-top: 118px;
    margin-bottom:70px ;
}
  
.menu-icon {
    position: absolute;
    right: 20px;
}
.login-header img{
    cursor: pointer;
    width: 217px;
    flex-shrink: 0;
    cursor: pointer;
}

h1{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;

}
p{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
    max-width: 340px;
}
form{
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
}
form input{
    border-radius: 10px;
    padding: 0 0 0 10px;
    width: 330px;
    flex-shrink: 0;
    height: 52px;
    border: none;
    background: #3B3E52;
    color: white;
}
input#email {
    margin-bottom: 22px;
}
input::placeholder {
    color: #8E9EB8;
}
form label{
    color: white;
    margin-left: 0;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
}
a.recuperar-senha{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 0;
    text-decoration: none;
    margin-top: 6px;
    margin-bottom:28px;
}
button.btn-principal {
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #C5F022;
    font-size: 20px;
    font-style: normal;
    font-weight:600;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
}
.btn-principal:hover{
    background-color: #c8ff00;
    transition: 2s;

}
a.btn-secundario{
    width: 100%;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #4E5A6E;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-secundario:hover{
    background-color: #2a3241;
    transition: 2s;

}
.btn-suap{
    width: 100%;
    flex-shrink: 0;
    height: 70px;
    border-radius: 10px;
    background: #00E599;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: #4A4A4A;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 25px;
}
.btn-suap:hover{
    background-color: #50ffc5;
    transition: 2s;

}
.btn-suap img{
    width: 3em;
    margin-left: 15px;
    margin-right: 0;
    width: 79.349px;
    flex-shrink: 0;
    aspect-ratio: 79.35/40.84;
    height: 40.841px;
}

.ou-linha{
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin: 20px 0;
}

.ou-linha::before,
.ou-linha::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid white;
    margin: 0 10px;
    width: 200px;
}

/* aplica aos inputs/textarea/select usados no formulário */
input, textarea, select, button {
  font-size: 16px; /* valor mínimo que evita o zoom no iOS */
  -webkit-text-size-adjust: 100%;
}









.error-message {
    background-color: #f8d7da;  /* fundo vermelho claro */
    color: #721c24;             /* texto vermelho escuro */
    border: 1px solid #f5c6cb;  /* borda leve */
    padding: 12px 16px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 500;
}

.error-message p {
    margin: 0;
}


#error-toast {
    position: fixed;
    top: 20px;
    left: 80%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #C5F022;
    border: 1px solid #f5c6cb;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


.chave {
    filter: brightness(0) saturate(100%) invert(73%) sepia(89%) saturate(376%) hue-rotate(29deg) brightness(101%) contrast(95%);
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.container h1 {
    color: white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 16px;
}
.botao_voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    flex-shrink: 0;
    height: 40px;
    background-color: #C5F022;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
}
section.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}