{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link rel="icon" href ="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/configuracoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/aviso.css' %}">
    <script src="{% static 'js/usuario/menu.js' %}"></script>
    <script src="{% static 'js/usuario/aviso.js' %}"></script>
</head>
<body>
    <header>
        <div class="seta-voltar">
            <a href="javascript:history.back()">
                <img src="{% static 'icones-site/seta-voltar.png' %}" alt="Ícone seta voltar">
            </a>
        </div>
        <div class="logo-h">
          <a href="{% url 'feed' %}"><img src="{% static 'icones-site/logo-h.png' %}" alt="Logo Habitus"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
          <img id="menu-icon" src="{% static 'icones-site/menu-lateral.png' %}" alt="Abrir Menu">
        </div>
    </header>
      
{% if user.is_authenticated %}
        {% if user.groups.first.name == "Aluno" %}
            <!-- MENU PARA ALUNO -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliar</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>

        {% elif user.groups.first.name == "Professor" %}
            <!-- MENU PARA PROFESSOR -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'gerenciar_alunos' %}"><img src="{% static 'icones-site/icone-alunos.png' %}" alt="">Alunos</a></li>
                        <li><a href="{% url 'gerenciar_noticias' %}"><img src="{% static 'icones-site/icone-noticias.png' %}" alt="">Notícias</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliar</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>

        {% elif user.groups.first.name == "Admin" %}
            <!-- MENU PARA ADMIN -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'gerenciar_alunos' %}"><img src="{% static 'icones-site/icone-alunos.png' %}" alt="">Alunos</a>
                        <li><a href="{% url 'exercicios' %}"><img src="{% static 'icones-site/icone-exercicios.png' %}" alt="">Exercícios</a></li>
                        <li><a href="{% url 'gerenciar_noticias' %}"><img src="{% static 'icones-site/icone-noticias.png' %}" alt="">Notícias</a></li>
                        <li><a href="{% url 'professores' %}"><img src="{% static 'icones-site/icone-professores.png' %}" alt="">Professores</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliações</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>
        {% endif %}
    {% endif %}
    <main>
    <section class="nome-pagina">
        <h1>Configurações</h1>
    </section>
    <section class="container">
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ field|title }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <section class="preferencias">
            <div>
                <h2>Preferências</h2>
            </div>
            <!--<a href="#">-->
                <div class="padrao" id="inapt">
                    <img src="{% static 'icones-site/idioma.png' %}" alt="Icone idioma">
                    <div>  
                        <h1>Idioma</h1>
                        <p>Português (Brasil)</p>
                    </div>
                    <img class="seta" src="{% static 'icones-site/seta-direita.png' %}" alt="Icone seta">
                </div>
            <!--</a>-->

            <!--<a href="#">-->
                <div class="padrao" id="inapt">
                    <img src="{% static 'icones-site/tema.png' %}" alt="Icone tema">
                    <div>  
                        <h1>Tema</h1>
                        <p>Escuro</p>
                    </div>
                    <img class="seta" src="{% static 'icones-site/seta-direita.png' %}" alt="Icone seta">
                </div>
            <!--</a>-->
        </section>
        <section class="treinos">
            <div>
                <h2>Treinos</h2>
            </div>
            <a href="#" onclick="abrirPopup(event)">
                <div class="padrao">
                    <img src="{% static 'icones-site/lixo-apagar-treinos.png' %}" alt="Icone apagar treinos">
                    <div>  
                        <h1>Apagar todos meus treinos</h1>
                        <p>Você tem {{ total_treinos }} treino(s) cadastrado(s)</p>
                    </div>
                </div>
            </a>

            <!-- Pop-up de confirmação -->
            <div id="popup-confirmacao" class="popup-overlay" style="display:none;">
                <div class="popup-content">
                    <h2>Confirmar exclusão!</h2>
                    <p>Lembre-se: essa ação NÃO poderá ser desfeita!</p>
                    
                    <form method="POST" action="{% url 'apagar_todos_treinos' %}">
                        {% csrf_token %}
                        <button type="button" onclick="fecharPopup()" class="btn-cancelar">Cancelar</button>
                        <button type="submit" class="btn-confirmar">Confirmar</button>
                    </form>
                </div>
            </div>
            <script>
                function abrirPopup(event) {
                    event.preventDefault();
                    document.getElementById("popup-confirmacao").style.display = "flex";
                }
                function fecharPopup() {
                    document.getElementById("popup-confirmacao").style.display = "none";
                }
            </script>


            <a href="#" onclick="abrirPopupProgresso(event)">
                <div class="padrao">
                    <img src="{% static 'icones-site/zerar-progresso.png' %}" alt="Icone zerar progresso">
                    <div>  
                        <h1>Zerar meu progresso</h1>
                        <p>Seu progresso atual - {{ concluidos }}/{{ total }}</p>
                    </div>
                </div>
            </a>

            <!-- Pop-up -->
            <div id="popup-zerar-progresso" class="popup-overlay" style="display:none;">
                <div class="popup-content">
                    <h2>Tem certeza?</h2>
                    <p>Seu progresso será zerado e não poderá ser recuperado.</p>
                    
                    <form method="POST" action="{% url 'zerar_progresso' %}">
                        {% csrf_token %}
                        <button type="button" onclick="fecharPopupProgresso()" class="btn-cancelar">Cancelar</button>
                        <button type="submit" class="btn-confirmar">Sim, zerar progresso</button>
                    </form>
                </div>
            </div>
            <script>
                function abrirPopupProgresso(event) {
                    event.preventDefault();
                    document.getElementById("popup-zerar-progresso").style.display = "flex";
                }
                function fecharPopupProgresso() {
                    document.getElementById("popup-zerar-progresso").style.display = "none";
                }
            </script>


        </section>
        <section class="suporte">
            <div>
                <h2>Suporte</h2>
            </div>
            <a href="{% url 'reportar_erro' %}">
                <div class="padrao">
                    <img src="{% static 'icones-site/lixo-apagar-treinos.png' %}" alt="Icone idioma">
                    <div>  
                        <h1>Reportar erro</h1>
                    </div>
                    <img class="seta" src="{% static 'icones-site/seta-direita.png' %}" alt="Icone seta">
                </div>
            </a>
        </section>
        <section class="termos">
            <div>
                <h2>Termos e Privacidade</h2>
            </div>
            <a href="{% url 'politica_de_privacidade' %}">
                <div class="padrao">
                    <img src="{% static 'icones-site/lixo-apagar-treinos.png' %}" alt="Icone idioma">
                    <div>  
                        <h1>Política de privacidade</h1>
                    </div>
                    <img class="seta" src="{% static 'icones-site/seta-direita.png' %}" alt="Icone seta">
                </div>
            </a>
            <a href="{% url 'termos_de_uso' %}">
                <div class="padrao">
                    <img src="{% static 'icones-site/lixo-apagar-treinos.png' %}" alt="Icone idioma">
                    <div>  
                        <h1>Termos de uso</h1>
                    </div>
                    <img class="seta" src="{% static 'icones-site/seta-direita.png' %}" alt="Icone seta">
                </div>
            </a>
        </section>
    </section>

    <menu>
        <div>
            <a href="{% url 'feed' %}">
                <img src="{% static 'icones-site/feed-icon-preta.png' %}" alt="Logo feed">
                <h3>Feed</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'treinos' %}">
                <img src="{% static 'icones-site/treino-icon-preta.png' %}" alt="icone treino">
                <h3>Treinos</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'perfil' %}">
                <img src="{% static 'icones-site/perfil-icon-preta.png' %}" alt="Logo perfil">
                <h3>Perfil</h3>
            </a>
        </div>
    </main> 
    
    </menu>
</body>
</html>
