{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar pelo Suap</title>
    <link rel="icon" href="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/entrar_pelo_suap.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/aviso.css' %}">
    <script src="{% static 'js/usuario/login.js' %}"></script>
    <script src="{% static 'js/usuario/aviso.js' %}"></script>
</head>
<body>
    <main class="login-container">
        <div class="login-header">
            <img src="{% static 'icones-site/logo-nome-completo.png' %}" alt="Logo Habitus completo">
        </div>

        <section class="container">
            <img class="chave" src="{% static 'icones-site/construcao.png' %}" alt="Logo feed">
            <h1>Essa página ainda está em construção, tente mais tarde!</h1>
            <a class="botao_voltar" href="javascript:history.back()">Voltar</a> 
        </section>
    
    </main>
</body>
</html>
