{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/login.css' %}">
    <script src="{% static 'js/usuario/menu.js' %}"></script>
    <script src="{% static 'js/usuario/login.js' %}"></script>
</head>
<body>
    <main class="login-container">
        <div class="login-header">
            <img src="{% static 'icones-site/logo-nome-completo.png' %}" alt="Logo Habitus completo">
        </div>

        <div class="login-box">
            <h1>Bem-vindo (a) ao Habitus!</h1>
            <p>Entre ou crie sua conta e comece agora a transformação rumo à sua melhor versão.</p>

            {% if erro %}
                <div class="error-message" id="error-toast">
                    <p>{{ erro }}</p>
                </div>
            {% endif %}

            {% if sucesso %}
                <div class="success-message" id="success-toast">
                    <p>{{ sucesso }}</p>
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Digite seu e-mail de acesso">

                <label for="senha">Senha:</label>
                <div style="position: relative;">
                    <input type="password" id="senha" name="senha" placeholder="Digite sua senha">
                    <img src="{% static 'icones-site/olho_fechado.png' %}" id="iconeSenha"  onclick="toggleSenha()" style="width: 20px; height: 20px; cursor: pointer; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                </div>

                <a href="#" class="recuperar-senha">Recuperar senha</a>

                <button type="submit" class="btn-principal">Entrar</button>
                <a href="{% url 'criar_conta' %}" class="btn-secundario">Criar Conta</a>

                <div class="ou-linha">
                    <span>Ou</span>
                </div>

                <a href="{% url 'feed' %}" class="btn-suap">
                    Entrar com o <img src="{% static 'icones-site/suap-logo.png' %}" alt="Logo SUAP">
                </a>
            </form>
        </div>
    </main>
</body>
</html>
