{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificações</title>
    <link rel="icon" href ="{% static 'icones-site/logo-h-pequena.png' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/notificacoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/usuario/aviso.css' %}">
    <script src="{% static 'js/usuario/menu.js' %}"></script>
    <script src="{% static 'js/usuario/notificacao.js' %}"></script>
    <script src="{% static 'js/usuario/aviso.js' %}"></script>
</head>
<body>
    <header>
        <div class="seta-voltar">
            <a href="javascript:history.back()">
                <img src="{% static 'icones-site/seta-voltar.png' %}" alt="Ícone seta voltar">
            </a>
        </div>
        <div class="logo-h">
          <a href="{% url 'feed' %}"><img src="{% static 'icones-site/logo-h.png' %}" alt="Logo Habitus"></a>
        </div>
        <div class="menu-icon" onclick="toggleMenu()">
          <img id="menu-icon" src="{% static 'icones-site/menu-lateral.png' %}" alt="Abrir Menu">
        </div>
    </header>
      
{% if user.is_authenticated %}
        {% if user.groups.first.name == "Aluno" %}
            <!-- MENU PARA ALUNO -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliar</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>

        {% elif user.groups.first.name == "Professor" %}
            <!-- MENU PARA PROFESSOR -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'gerenciar_alunos' %}"><img src="{% static 'icones-site/icone-alunos.png' %}" alt="">Alunos</a></li>
                        <li><a href="{% url 'gerenciar_noticias' %}"><img src="{% static 'icones-site/icone-noticias.png' %}" alt="">Notícias</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliar</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>

        {% elif user.groups.first.name == "Admin" %}
            <!-- MENU PARA ADMIN -->
            <nav id="menu-lateral" class="menu-lateral">
                <div class="fechar">
                    <h1>Menu</h1>
                    <button class="fechar-menu" onclick="toggleMenu()">✕</button>
                </div>
                <ul>
                    <div>
                        <li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/ultimas-noticias.png' %}" alt="">Últimas notícias</a></li>
                        <li><a href="{% url 'notificacoes' %}"><img src="{% static 'icones-site/notificacoes.png' %}" alt="">Notificações</a></li>
                        <li><a href="{% url 'historico' %}"><img src="{% static 'icones-site/historico.png' %}" alt="">Histórico</a></li>
                        <li><a href="{% url 'solicitar_novo_treino' %}"><img src="{% static 'icones-site/solicitar-treino.png' %}" alt="">Solicitar novo treino</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'gerenciar_alunos' %}"><img src="{% static 'icones-site/icone-alunos.png' %}" alt="">Alunos</a>
                        <li><a href="{% url 'exercicios' %}"><img src="{% static 'icones-site/icone-exercicios.png' %}" alt="">Exercícios</a></li>
                        <li><a href="{% url 'gerenciar_noticias' %}"><img src="{% static 'icones-site/icone-noticias.png' %}" alt="">Notícias</a></li>
                        <li><a href="{% url 'professores' %}"><img src="{% static 'icones-site/icone-professores.png' %}" alt="">Professores</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'configuracoes' %}"><img src="{% static 'icones-site/configuracoes.png' %}" alt="">Configurações</a></li>
                        <!--<li><a href="{% url 'feed' %}"><img src="{% static 'icones-site/icone-avaliar.png' %}" alt="">Avaliações</a></li>-->
                        <li><a href="{% url 'reportar_erro' %}"><img src="{% static 'icones-site/reportar-erro.png' %}" alt="">Reportar erro</a></li>
                    </div>
                    <div>
                        <li><a href="{% url 'desenvolvedores' %}"><img src="{% static 'icones-site/desenvolvedores.png' %}" alt="">Desenvolvedores</a></li>
                        <li><a href="{% url 'sobre_habitus' %}"><img src="{% static 'icones-site/sobre.png' %}" alt="">Sobre o Habitus</a></li>
                    </div>
                </ul>
            </nav>
        {% endif %}
    {% endif %}

    <main>
        <!--PARTE PARA AVISO, ISSO DEVE SER PADRÃO-->
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p>{{ field|title }}: {{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!--FIM DE AVISO AQUI!!-->
        <section class="nome-pagina">
            <h1>Notificações</h1>
        </section>
        <section class="container">
            <div class="data-container">
                <div class="custom-date">
                    <span id="label-inicio">Data início <i class="fa-solid fa-calendar-days"></i></span>
                    <img src="{% static 'icones-site/icone-calen.png' %}" alt="Ícone calendário"
                        onclick="document.getElementById('data-inicio').showPicker()">
                    <input type="date" id="data-inicio" name="data_inicio">
                </div>

                <div class="custom-date">
                    <span id="label-fim">Data fim <i class="fa-solid fa-calendar-days"></i></span>
                    <img src="{% static 'icones-site/icone-calen.png' %}" alt="Ícone calendário"
                        onclick="document.getElementById('data-fim').showPicker()">
                    <input type="date" id="data-fim" name="data_fim">
                </div>
            </div>


            <!-- Aqui dentro o JS vai substituir o conteúdo -->
            <section class="notificacao" id="notificacoes-container">
                {% if notificacoes %}
                    {% for noti in notificacoes %}
                        <div class="nome-data">
                            <p>
                                {% if noti.usuario.groups.first.name == "Aluno" %}
                                    {{ noti.usuario.aluno.nome }} - Aluno (a)
                                {% elif noti.usuario.groups.first.name == "Professor" %}
                                    {{ noti.usuario.professor.nome }} - Professor (a)
                                {% elif noti.usuario.groups.first.name == "Admin" %}
                                    {{ noti.usuario.admin.nome }} - Administrador (a)
                                {% else %}
                                    {{ noti.usuario.username }}
                                {% endif %}
                            </p>
                            <strong>
                                {% if noti.lida == False %}
                                    <span class="bolinha-verde"></span>
                                {% endif %}


                            </strong>

                        </div>
                        <div class="conteudo">
                            <p>{{ noti.conteudo|safe }}</p>
                            <strong>{{ noti.data|date:"d/m/Y H:i" }}</strong>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Você ainda não possui notificações.</p>
                {% endif %}
            </section>
        </section>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const inicio = document.getElementById("data-inicio");
                const fim = document.getElementById("data-fim");
                const container = document.getElementById("notificacoes-container");

                function atualizar() {
                    const params = new URLSearchParams();
                    if (inicio.value) params.append("data_inicio", inicio.value);
                    if (fim.value) params.append("data_fim", fim.value);

                    fetch(`{% url 'notificacoes' %}?${params.toString()}`, {
                        headers: {"X-Requested-With": "XMLHttpRequest"}
                    })
                    .then(response => response.json())
                    .then(data => {
                        container.innerHTML = data.html;
                    })
                    .catch(err => console.error("Erro:", err));
                }

                inicio.addEventListener("change", atualizar);
                fim.addEventListener("change", atualizar);
            });
        </script>



    </section>
        <menu>
            <div>
            <a href="{% url 'feed' %}">
                <img src="{% static 'icones-site/feed-icon-preta.png' %}" alt="Logo feed">
                <h3>feed</h3>
            </a>
            </div>
            <div>
                <a href="{% url 'treinos' %}">
                    <img src="{% static 'icones-site/treino-icon-preta.png' %}" alt="icone treino">
                    <h3>Treinos</h3>
                </a>
            </div>
            <div>
                <a href="{% url 'perfil' %}">
                    <img src="{% static 'icones-site/perfil-icon-preta.png' %}" alt="Logo perfil">
                    <h3>Perfil</h3>
                </a>
            </div>
    </main>
    
    </menu>
</body>
</html>
