@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    margin:0 auto;
    font-family: 'Lexend Deca', sans-serif;
}
body {
    margin-top: 109px;
    background-color: #070A22;
}

header{
    background-color: #070A22;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content:center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
}
.seta-voltar {
    margin-left: 0;
}
.logo-h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  
.menu-icon {
    position: absolute;
    right: 20px;
}
header img{
    cursor: pointer;
}
.logo-h img{
    width: 50px;
    cursor: pointer;
}
.seta-voltar img{
    width: 25px;
}
.menu-icon img{
    width:30px;
    cursor: pointer;
}

section.nome-pagina{
    background-color: #C5F022;
    text-align: center;
    display: flex;
    height: 61px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}
h1 {
    font-size: 20px;
    margin:0;
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B3E52;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
menu img{
    margin-bottom: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
menu div a {
    font-size: 25px;
    color:white ;
    text-decoration: none;
    display: grid;
    align-items: center;
}
h3 {
    font-size: 10px;
    color: #FFF;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}
.menu-lateral {
    position: fixed;
    top: 0;
    right: -500%;
    width: 50%;
    height: 100vh;
    background-color: #3B3E52;
    transition: right 0.3s ease;
    z-index: 999;
    padding: 2em;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.fechar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 5em;

}
.menu-lateral ul>div{
    display: block;
    justify-content: start;
    padding-bottom: 24px;
    margin-bottom: 3em;
}
ul > div:nth-of-type(-n+3) {
  border-bottom: 1px solid #D9D9D9;
}

.menu-lateral li a{
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    font-size: 15px;

}
main{
    padding-bottom: 100px;
}
.menu-lateral img{
    width: 26px;
}
.menu-lateral.ativo {
    right: 0;
}
.menu-lateral .fechar-menu {
    background: none;
    border: none;
    font-size: 2em;
    color: white;
    /*position: absolute;*/
    right: 1em;
    cursor: pointer;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin-top: 4em;
}

.menu-lateral li {
    margin-bottom: 24px;
}

.menu-lateral a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

form {
    width: 100%;
    max-width: 335px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form select {
    background: #3B3E52;
    border-radius: 5px;
    padding: 0 0 0 5px;
    width: 100%;
    flex-shrink: 0;
    height: 30px;
    border: none;
    color: white;
    font-size: 10px;
    margin: 2px 0 5px 0;
}

select:invalid {
  color: #8E9EB8; /* cor do texto quando nada foi selecionado */
}

input::placeholder {
    color: #8E9EB8;
}

form label {
    color: white;
    margin-left: 0px;
    font-weight: 500;
    font-size: 13.5px;
}

form h2{
    text-align: left;
    color: #C5F022;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
}

.matricula-usuario, .cpf-data, .peso-altura-nivel, .objetivo-entrada, .c-a-t, .quadril-coxas, .panturrilhas, .bracos, .T-S-AM, .S-A, .coxa-panturrilha{
    display: flex;
    gap: 10px;
}

.matricula-usuario>div, .cpf-data>div, .peso-altura-nivel>div, .objetivo-entrada>div, .c-a-t>div, .quadril-coxas>div, .panturrilhas>div, .bracos>div, .T-S-AM>div, .S-A>div, .coxa-panturrilha>div {
    flex: 1;
    min-width: 100px;
}

form>div {
    margin-top: 10px;
}

.botoes{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin-top: 20px;
}

form div button{
    width: 165px;
    flex-shrink: 0;
    height: 40px;
    background-color: #C5F022;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    cursor: pointer;

}
form div a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    flex-shrink: 0;
    height: 40px;
    background-color: #4E5A6E;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 10px 0px 0px;
}

#preview-foto {
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ccc;
    width: 150px;
}

form label.input_foto {
    text-align: center;
    margin: 0;
}


.dados-pessoais{
    width: 340px;
    margin-top: 25px;
}

.dados-pessoais p{
    text-align: left;
}

.dados-pessoais p:nth-child(even){
    color: #7689A9;
    font-size: 12px;
    margin-bottom: 2px;
}

.dados-pessoais p:nth-child(odd){
    color: #FFF;
    font-size: 15px;
    border-bottom: #FFF 1px solid;
    margin-bottom: 10px;
}

.dados-pessoais > div{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.dados-pessoais > div > div{
    width: 50%;
    text-align: left;
}

.dados-pessoais > div > div p:nth-child(even){
    width: 162.5px;
    color: #FFF;
    font-size: 15px;
    border-bottom: #FFF 1px solid;
    margin-bottom: 10px;
}

.dados-pessoais > div > div p:nth-child(odd){
    width: 162.5px;
    color: #7689A9;
    font-size: 12px;
    border-bottom: none;
    margin-bottom: 2px;
}




.container {
    max-width: 340px;
    margin: 0 auto;
    padding: 0 20px;
}

.dados-pessoais,
.dados-av-fisica,
.medidas-circunferencia,
.medidas-dobra-cutanea {
    width: 340px !important;
    margin-top: 25px;
}

.dados-pessoais > *,
.dados-av-fisica > *,
.medidas-circunferencia > *,
.medidas-dobra-cutanea > * {
    max-width: 340px;
    box-sizing: border-box;
}

.dados-av-fisica > .trio,
.medidas-circunferencia > .trio,
.medidas-dobra-cutanea > .trio {
    width: 340px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.dados-av-fisica > .trio > div,
.medidas-circunferencia > .trio > div,
.medidas-dobra-cutanea > .trio > div {
    flex: 1;
    min-width: 0;
    width: calc(33.333% - 7px); /* 3 colunas com gap */
}

.dados-av-fisica > div:not(.trio),
.medidas-circunferencia > div:not(.trio),
.medidas-dobra-cutanea > div:not(.trio) {
    width: 340px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.dados-av-fisica > div:not(.trio) > div,
.medidas-circunferencia > div:not(.trio) > div,
.medidas-dobra-cutanea > div:not(.trio) > div {
    flex: 1;
    min-width: 0;
    width: calc(50% - 5px); /* 2 colunas com gap */
}

.medidas-circunferencia > div > .trio {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.medidas-circunferencia > div > .trio > div {
    flex: 1;
    min-width: 0;
    width: calc(33.333% - 7px);
}

.dados-pessoais p,
.dados-av-fisica p,
.medidas-circunferencia p,
.medidas-dobra-cutanea p {
    text-align: left;
    max-width: 340px;
    box-sizing: border-box;
}

.dados-pessoais p:nth-child(even),
.dados-av-fisica p:nth-child(even),
.medidas-circunferencia p:nth-child(even),
.medidas-dobra-cutanea p:nth-child(even) {
    color: #7689A9;
    font-size: 12px;
    margin-bottom: 2px;
    width: 100%;
}

.dados-pessoais p:nth-child(odd),
.dados-av-fisica p:nth-child(odd),
.medidas-circunferencia p:nth-child(odd),
.medidas-dobra-cutanea p:nth-child(odd) {
    color: #FFF;
    font-size: 15px;
    border-bottom: #FFF 1px solid;
    margin-bottom: 10px;
    width: 100%;
}

.dados-pessoais > div > div p:nth-child(even),
.dados-av-fisica > div > div p:nth-child(even),
.medidas-circunferencia > div > div p:nth-child(even),
.medidas-dobra-cutanea > div > div p:nth-child(even) {
    width: 100%;
    color: #FFF;
    font-size: 15px;
    border-bottom: #FFF 1px solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.dados-pessoais > div > div p:nth-child(odd),
.dados-av-fisica > div > div p:nth-child(odd),
.medidas-circunferencia > div > div p:nth-child(odd),
.medidas-dobra-cutanea > div > div p:nth-child(odd) {

    color: #7689A9;
    font-size: 12px;
    border-bottom: none;
    margin-bottom: 1px;
}

.dados-pessoais h3,
.dados-av-fisica h3,
.medidas-circunferencia h3,
.medidas-dobra-cutanea h3 {
    font-size: 18px;
    font-weight: 600;
    color: #C5F022;
    margin-bottom: 15px;
    text-align: left;
    width: 340px;
}

.dados-pessoais > p:nth-child(odd),
.dados-av-fisica > p:nth-child(odd),
.medidas-circunferencia > p:nth-child(odd),
.medidas-dobra-cutanea > p:nth-child(odd) {
    width: 340px;
}

.dados-pessoais > p:nth-child(even),
.dados-av-fisica > p:nth-child(even),
.medidas-circunferencia > p:nth-child(even),
.medidas-dobra-cutanea > p:nth-child(even) {
    width: 340px;
}


.container > section > h3{
    font-size: 18px;
    font-weight: 600;
    color:#C5F022;
}

.container img:first-child{
    margin: 0 auto;
    padding:20px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 165px;
    height: 165px;
    object-fit: cover;
    border-radius: 50%;
}

.dados{
    color: #fff;
    text-align: center;
}

.botoes-acao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}
.botoes-acao a{
    text-decoration:none;
}

.btn-secondary {
    background-color: #4E5A6E;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    border: none;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn-warning {
    padding: 5px;
    background-color: #C5F022;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    border: none;
    width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary{
    width:340px;
    height: 40px;
    margin-top: 15px;
    background-color: #C5F022;
    border: none;
    border-radius: 20px;
    font-weight: 600;
}